{{ define "main" }}
  <section class="section pb-0">
    <div class="relative flex items-center justify-center p-0">
      {{ $image := .Params.image }}
      {{ if $image }}
        {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "") }}
      {{ end }}
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <h1 class="h3 mt-10 absolute text-center text-white text-h3 lg:text-h1 shadow-md">{{ .Title }}</h1>
    </div>
    <div class="container p-0">
      <div class="row border-border dark:border-darkmode-border justify-center border-b p-0">
        
        <div class="content px-6 mt-6">
          {{ .Content }}
        </div>
        <div class="flex items-center justify-center p-0">
          {{ $thumbnail := .Params.thumbnail }}
          {{ if $thumbnail }}
            <div>
              {{ partial "image" (dict "Src" $thumbnail "Alt" .Title "Class" "m-0") }}
            </div>
          {{ end }}
          <div class="content px-6 mt-6">
            {{ .Content }}
          </div>
          
        </div>
        
      </div>
    </div>
  </section>
{{ end }}
