{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="col-12 relative flex items-center justify-center pb-14">
    {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto" ) }}
    <h1 class="absolute text-center text-white text-h3 lg:text-h1 shadow">
      {{ .title1 | markdownify }}
      <br>
      {{ .title2 | markdownify }}
    </h1>
  </div>
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 mb-8 text-center">
        <p class="mb-2">
          {{ .subheading | markdownify }}
        </p>
        <h1 class="mb-4 text-h3 lg:text-h1">
          {{ .heading | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Practices -->
{{ with site.GetPage "sections/expertise" }}
{{ if .Params.enable }}
<section class="section-sm bg-gradient">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 mb-8 text-center">
        <p>
          {{ .Params.subheading | markdownify }}
        </p>
        <h1 class="mb-4">
          {{ .Title | markdownify }}
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center mx-auto">
      {{ range .Params.practices }}
      <div class=" text-center">
        {{ partial "image" (dict "Src" .image "Alt" .name "Class" "mx-auto mb-6 rounded" "AspectRatio" "599/317") }}
        <h2 class="h6 mb-3">{{ .name }}</h2>
        <p class="mb-6">{{ .description | truncate 140 "..." }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Practices -->

<!-- Clients -->
{{ with site.GetPage "sections/client" }}
{{ if .Params.enable }}
<section class="section bg-gradient">
  <div class="container">
    <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
      <h1 class="mb-4">
        {{ .Title | markdownify }}
      </h1>
      <p>
        {{ .Params.description | markdownify }}
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper client-slider">
          <div class="swiper-wrapper">
            {{ range .Params.clients }}
            <div class="swiper-slide">
              <div class="mt-11 flex items-center justify-center">
                <div class="text-dark dark:text-white">
                  {{ partial "image" (dict "Src" .logo "Size" "50x50" "Alt" .name) }}
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          <div class="client-slider-pagination mt-9 flex items-center justify-center text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Clients -->
{{ end }}